name: paywiz

services:

  postgres:
    image: postgres:16.10-alpine3.22
    restart: always
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8080:8080"
  smtp:
    image: rnwood/smtp4dev
    restart: always
    ports:
      - "5000:80"
      - "2525:25"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "4000:4000"
    depends_on:
      - postgres
      - smtp
    # This is for development only!
    # I need network host because issue of smtp4dev can't hit from another container.
    network_mode: host
    env_file:
      - path: .env
        required: true
    environment:
      - NODE_ENV=development
      - APP_PORT=4000
      - SMTP_EMAIL=user@localhost
      - SMTP_HOST=localhost
      - SMTP_PORT=2525
      - SMTP_USER=user
      - SMTP_PASS=pass
      - DATABASE_URL=postgresql://postgres:mysecretpassword@localhost/postgres

volumes:
  postgres-data:
